<div class="register-form-container">
    <div class="register-form" *ngIf="!this.isSubmitted || (this.isSubmitted && !this.isSuccessful)">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput name="email" type="email" formControlName="email">
            </mat-form-field>
            <div *ngIf="registerFormControl.email.invalid && (registerFormControl.email.dirty || registerFormControl.email.touched)">
                <mat-error *ngIf="registerFormControl.email.errors?.required">
                    Email is required.
                </mat-error>
                <mat-error *ngIf="registerFormControl.email.errors?.email">
                    Email must be a valid email.
                </mat-error>
            </div>
            <br>
            <mat-form-field appearance="legacy">
                <mat-label>Username</mat-label>
                <input matInput name="username" formControlName="username">
            </mat-form-field>
            <div *ngIf="registerFormControl.username.invalid && (registerFormControl.username.dirty || registerFormControl.username.touched)">
                <mat-error *ngIf="registerFormControl.username.errors?.required">
                    Username is required.
                </mat-error>
                <mat-error *ngIf="registerFormControl.username.errors?.minlength">
                    Username must be a at least 3 characters.
                </mat-error>
            </div>
            <br>
            <mat-form-field appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput name="password" type="password" formControlName="password">
            <div class="mat-error-wrap" *ngIf="registerFormControl.password.invalid && (registerFormControl.password.dirty || registerFormControl.password.touched)">

                <mat-error *ngIf="registerFormControl.password.errors?.required">
                    Password is required.
                </mat-error>
                <mat-error *ngIf="registerFormControl.password.errors?.minlength">
                    Password must be a at least 6 characters.
                </mat-error>
            </div>
            </mat-form-field>
            <br>
            <mat-form-field appearance="legacy">
                <mat-label>Confirm Password</mat-label>
                <input matInput name="confirm_password" type="password" formControlName="confirmPassword">
            </mat-form-field>
            <div *ngIf="registerFormControl.confirmPassword.invalid && (registerFormControl.confirmPassword.dirty || registerFormControl.confirmPassword.touched)">
                <mat-error *ngIf="registerFormControl.confirmPassword.hasError('notSame')">
                    Confirm Password must match password
                </mat-error>
            </div>
            <mat-error *ngIf="this.isSubmitted && !this.isSuccessful">
                {{ this.errorMsg }}
            </mat-error>
            <br>
            <button type="submit" color="primary" mat-button [disabled]="!registerForm.valid">Register</button>
        </form>
    </div>
    <div class="register-info" *ngIf="this.isSuccessful && this.isSubmitted">
        <h2>Thank you for registering!</h2>
        <p>You can now login with your username and password.</p>
        <button type="button" mat-button color="primary" routerLink="/login">Proceed to Login</button>
    </div>
</div>
