<div class="about-container">
    <h1>About us</h1>
    <div>
    <h2>What we do</h2>
    <p>Car Alerts is an app that allows you to browse through different alerts:</p>
    <ul>
        <li>Traffic jams</li>
        <li>Car accidents</li>
        <li>Tolls</li>
        <li>Speed camers</li>
    </ul>
    <p>It also allows you to enter a route and check if any alerts is on that route</p>
    </div>

    <div>
        <h2>Who we are</h2>
        <h3>Nikolay Stanchev, Founder and Lead developer</h3>
    </div>
</div>